# 忽略maven项目中的target文件夹
target
*/target

# 忽略Eclipse相关文件
.classpath
.project
.settings
.factorypath

# 忽略VS Code产生的文件夹
.apt_generated*

# 忽略idea的相关文件
.idea

# Compiled class file
*.class

# vscode
.vscode

# 本身也忽略
# .gitignore